.App {
  text-align: center;
  color:white;
}

.glass-div{
  background: rgba(255, 255, 255, 0.062);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.226);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.048);
  margin:auto;
  margin-top: 3rem;
}

.glass-div:hover{
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.103);
  border: 1px solid rgba(255, 255, 255, 0.493);
}

.header{
  font-family: "lato", sans-serif;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 2px;
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: -60px;
  padding-left: 10px;
}

.title span {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  cursor: pointer;
  padding:1rem;
  border:0;
  color:white; 
  background-color: transparent;
  font-size: 1.5rem;
}

.answers{
  text-align: left;
}

.answer{
  padding-top:10px;
}

.summary{
  font-family: "lato", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.makeStyles-container-1, .jss1{
  background: transparent !important;
  padding:0 !important;
}

.makeStyles-title-2, .makeStyles-copyContainer-5, .jss2, .jss5{
  display: none !important;
}

.makeStyles-iconContainer-3, .jss3{
  padding: 10px !important;
}
.makeStyles-iconContainer-3 button::after, .jss3 button::after{
  content: "Tweet my results to Victoria";
  color: white;
  position: absolute;
  top:35%;
  margin-left: 10px;
}

